/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25/10/2025, 10:14:02 a. m.
    Author     : samir
*/

body {
    min-height: 100vh;
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background-color: #f4f4f9; 
    font-family: sans-serif; 
}

.sign {
    max-width: 400px;
    width: 90%; 
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}


.content {
    text-align: center; 
    padding-bottom: 1rem;
}


#loginForm {
    width: 100%;
    text-align: left;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block; /* Asegura que la etiqueta tome su propia línea */
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Crucial para que el padding y border no aumenten el ancho total */
}





.p{
    font-size: 50px;
}
#Acceso{
        margin-top: 15px;
}
.fondito {
    height: 200px;
    width: 400px;
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.lisi {
    height: 200px;
    width: 400px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 100px;
}


.imal {
    width: 500px;
    margin-left: auto;  
    margin-right: 0; 
}

.fondo {
    
    background-image: url("../images/pc-nature-beauty-2048x1152-wallpaper-preview.jpg");
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}




.ficha-planta {
    max-width: 600px;
    margin: 40px auto; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}


.ficha-planta img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 10px auto; 
}
#contener{
    background: transparent;
    border: none;
    color: palevioletred;
    cursor: pointer;
    
}


#simple-menu {
    text-align: center; 
    background-color: #333; 
    padding: 10px 0; 
    margin-bottom: 20px; 
    overflow: hidden; 
}


.menu-button {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    margin: 0 5px; 
    display: inline-block; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
    font-family: sans-serif; 
}


.menu-button:hover {
    background-color: #555; 
}


.menu-button.active {
    background-color: #007bff; 
    font-weight: bold;
}


@media (max-width: 600px) {
    #simple-menu .menu-button {
        display: block; 
        margin: 5px 0;  
    }
}

main img {
    max-width: 100%;
    height: auto;    
    display: block;  
}